.site-article {
    margin: 0;
    padding: 115px 0 115px 0;
}

.article {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 1182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__content {
    position: absolute;
    top: 130px;
    left: 0px;
    z-index: 20;
    margin: 0;
    padding: 92px 280px 98px 0;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../../images/section1.png);
    background-repeat: no-repeat;
    background-position: 212px 0;
}

.article__title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.304px;
    color: #333333;
}

.green__box {
    position: absolute;
    top: 192px;
    left: 403px;
    z-index: 18;
    width: 309px;
    height: 418px;
    background-image: url(../../images/green.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sqwd {
    margin: 4px 0 32px 0;
    padding: 0;
    font-family: 'OpenSans';
    font-size: 42px;
    line-height: 49px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.688px;
    color: #504E4E;
}

.line {
    margin-right: 10px;
    margin-bottom: 33px;
    width: 20px;
    height: 2px;
    display: block;
    background: #353535;
}

.article__text {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 1.26px;
    color: #5B5858;
}

.article__bottom {
    position: absolute;
    top: 425px;
    left: 860px;
    z-index: 16;
    max-width: 281px;
    margin-bottom: 0;
    padding: 98px 0px 92px 0;
}

.aritcle__img {
    position: absolute;
    top: 300px;
    left: 615px;
    z-index: 15;
    width: 309px;
    height: 391px;
    background-image: url(../../images/image3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

@media screen and(max-width:1130px) {
    .article__bottom {
        left: 780px;
    }

    .green__box {
        left: 350px;
    }

    .aritcle__img {
        left: 562px;
    }

    .article__content {
        left: 35px;
        background-position: 160px 0;
    }
}
@media screen and(max-width:1080px) {
    .article__bottom {
        left: 700px;
    }    
}

@media screen and(max-width:980px) {
    .article__bottom {
        left: 580px;
        top: 780px;
    }    
    .aritcle__img{
        top: 615px;
        left: 450px;
    }
    .green__box{
        left: 239px;
        top: 395px;
    }
    .article__content{
        left: 50px;
        background-position:70px 60px;
    }
}
@media screen and(max-width:850px) {
    .article__bottom {
        left: 360px;
        top: 800px;
        z-index: 19;
    }    
    .aritcle__img{
        top: 615px;
        left: 290px;
        z-index: 18;
        max-width: 210px;
    }
    .green__box{
        left: 125px;
        top: 340px;
    }
    .article__content{
        padding-right: 0;
        max-width: 281px;
        // left: 219px;
        background-size: 100%;
        background-position:70px 60px;
    }
}
@media screen and(max-width:640px) {
    .article__bottom {
        left: 190px;
        top: 800px;
        z-index: 19;
    }    
    .aritcle__img{
        top: 615px;
        left: 70px;
        z-index: 18;
        max-width: 210px;
    }
    .green__box{
        left: 100px;
        top: 340px;
        max-width: 210px;
    }

    .article__title{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .sqwd{
        display: block;
        text-align: center;
    }
}
@media screen and(max-width:500px){
    .article__bottom{
        left: 90px;
        top: 850px;
    }
    .article__content{
        left: 0;
    }
}
@media screen and(max-width:400px){
    .article__bottom{
        left: 20px;
    }
    .green__box{
        left: 14px;
        top: 460px;
    }
    .article__text{
        text-align: center;
    }
}